<% if task.completed? %>

  <div class="row item">

    <div class="col-md-8">
      <p style="opacity: 0.5;"><strike><%= task.task_description %></strike></p>
      <p style="opacity: 0.5;"><%= task.deadline %></p>
    </div>

    <div class="col-md-2">
      <p><%= link_to complete_project_task_path(@project, task.id), method: :patch do %></p>
        <i class="fa fa-lg fa-check"></i>
      <% end %>
    </div>

    <div class="col-md-2">
      <p><%= link_to edit_project_task_path(@project, task.id) do %></p>
        <i class="fa fa-lg fa-edit"></i>
      <% end %>
    </div>

    <div class="col-md-2">
      <p><%= link_to project_task_path(@project, task.id) do %></p>
        <i class="fa fa-lg fa-tasks"></i>
      <% end %>
    </div>

    <div class="col-md-2">
      <p><%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you sure?"} do %></p>
        <i class="fa fa-lg fa-trash"></i>
      <% end %>
    </div>

  </div>

<% else %>

  <div class="row item">

    <div class="col-md-8">
      <p><%= task.task_description %></p>

      <% if task.expired? %>
        <p><%= "Deadline expired" %></p>
      <% else %>
        <%= task.deadline %>
      <% end %>
    </div>

    <div class="col-md-2">
      <p><%= link_to complete_project_task_path(@project, task.id), method: :patch do %></p>
        <i class="fa fa-lg fa-check"></i>
      <% end %>
    </div>

    <div class="col-md-2">
      <p><%= link_to edit_project_task_path(@project, task) do %></p>
        <i class="fa fa-lg fa-edit"></i>
      <% end %>
    </div>

    <div class="col-md-2">
      <p><%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you sure?"} do %></p>
        <i class="fa fa-lg fa-trash"></i>
      <% end %>
    </div>

  </div>

<% end %>
