<div class="col-md-6 col-md-offset-3">
  <p>
    <strong>Title</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong>Description</strong>
    <%= @project.description %>
  </p>

  <div class="sortable">
    <% @tasks.each_with_sortable_id do |task, sortable_id| %>
     <%= render "tasks/task", task: task, sortable_id: sortable_id %>
    <% end %>
  </div>
  <%= render "tasks/form" %>


  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Back", projects_path %>
</div>
